@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
  --bg-destaque: #682C92;

  --texto-cor-principal: #545454;
  --texto-cor-destaque: #FF00F2;
  
  --links-cor: #fff;
  --links-destaque-cor: #FF00F2;
  --titulo-fonte: 700 4rem 'Poppins', 'sans-serif';
  --titulo-secundario-fonte: 600 2.5rem 'Montserrat', 'sans-serif';
  --fonte-geral: 400 1.2rem 'Montserrat', 'sans-serif';

  --padding-geral: 2.4rem 7.2rem;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', 'sans-serif';
}

header,
footer {
  padding: var(--padding-geral);
}

footer {
  background-color: var(--bg-destaque);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  height: 25px;
}

#navi a {
  margin: 0 1rem;
  text-transform: uppercase;
  color: var(--links-cor);
  text-decoration: none;
  font-size: var(--fonte);
}

#navi a:hover {
  color: var(--links-destaque-cor);
}

h1 {
  font: var(--titulo-fonte);
  text-transform: uppercase;
}

.roxinho {
  color: #92278F;
}

h2 {
  font: var(--titulo-secundario-fonte);
  color: var(--texto-cor-principal);
  text-transform: uppercase;
}

p {
  font: var(--fonte-geral);
  color: var(--texto-cor-principal);
}

button {
  display: block;
  border-radius: 50px;
  border: none;
  background-color: var(--bg-destaque);
  padding: 1.2rem 3.2rem;
  margin: 2.4rem auto;
  transition: .3s all;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.25rem;
}

button a:hover {
  cursor: pointer;
  color: var(--texto-cor-destaque);
  background-color: var(--bg-destaque);
  text-decoration: none;
}

button a {
  color: #fff;
  text-decoration: none;
}

li {
  margin: 1.6rem auto;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--padding-geral);
  padding-top: 3.2rem;
  justify-content: space-between;
}

#welcome {
  flex-direction: row;
}

#welcome-texto {
  margin-top: 6.4rem;
  width: 60vw;
}

#welcome-bg {
  width: 65%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

#welcomeh1 {
  font: normal 4.3rem 'Bebas Neue';
  color: #92278F;
}

#welcome p {
  font-weight: 400;
  font-size: 1.3rem;
}

#welcome button{
  align-content: center;
}

#sympla-widget-955330 {
  width: 90%;
}

#about {
  flex-direction: row;
  margin: 5.6rem 0;
}

#about-bg {
  position: absolute;
  left: 0;
  z-index: -1;
  width: 30%;
}

#about-img {
  margin: 0 3.6rem;
}

#about-texto {
  width: 50vw;
  color: #fff;
}

#about-texto p {  
  margin-top: 1.6rem;
  line-height: 2rem;
  font-size: 1.3rem;
}

#guests {
  flex-direction: column;
}

#guestlist {
  display: flex;
  justify-content: space-around;
  margin-top: 130px;
}

.guest {
  background-color: #744297;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2.4rem;
  text-align: justify;
}

.guest-texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.guest a {
  font-size: 2.4rem;
  color: var(--links-cor);
}

.guest-nome {
  margin: 1.6rem auto;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.guest-bio {
  color: #fff;
}

.guest-foto {
  margin-top: -100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

#live {
  margin: 2.4rem 0;
  height: 511px;
  flex-direction: column;
  justify-content: center;
}

/*CSS do contador*/
#contagem{
  width: 70vw;
  margin: 2.4rem auto;
  text-align: center;
}

.contaDias{
  display: inline-block;
  width: 90px;
  height: 90px;
  border: 2px solid #92278F;
  font-size: 12px;
  border-radius: 50%;
  overflow: hidden;
}

.contaDias span{
  display: block;
  font-size: 26px;
  margin-top: 14px;
}


.contaHoras{
  display: inline-block;
  width: 90px;
  height: 90px;
  border: 2px solid #92278F;
  font-size: 12px;
  border-radius: 50%;
  overflow: hidden;
}

.contaHoras span{
  display: block;
  font-size: 26px;
  margin-top: 14px;
}

.contaMinutos{
  display: inline-block;
  width: 90px;
  height: 90px;
  border: 2px solid #92278F;
  font-size: 12px;
  border-radius: 50%;
  overflow: hidden;
}

.contaMinutos span{
  display: block;
  font-size: 26px;
  margin-top: 14px;
}

.contaSegundos{
  display: inline-block;
  width: 90px;
  height: 90px;
  border: 2px solid #92278F;
  font-size: 12px;
  border-radius: 50%;
  overflow: hidden;
}

.contaSegundos span{
  display: block;
  font-size: 26px;
  margin-top: 14px;
}

#contagem-bg {
  position: absolute;
  right: 0;
  z-index: -1;
}
/*Fim CSS do contador*/


#schedule {
  flex-direction: row;
  justify-content: center;
}

#video {
  margin-right: 2.4rem;
}

#agenda ul li {
  color: var(--texto-cor-principal);
  margin-left: -30px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2.4rem;
}

footer a {
  font-size: 1.8rem;
  color: var(--links-cor);
  margin: 0 .8rem;
  transition: .3s all;
}

footer a:hover {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 576px) {
  :root {
    --padding-geral: 1.6rem 1rem;

    --titulo-fonte: 700 2.4rem 'Poppins', 'sans-serif';
  }

  h2 {
    font-size: 1.8rem;
  }

  #logo {
    height: 20px;
  }

  #navi a {
    margin: .5rem;
  }

  #welcome-bg {
    width: 55vw;
  }

  #welcome-texto {
    margin-top: 4rem;
    width: 100vw;
  }

  #welcome p {
    font-size: 1.8rem;
  }

  #sympla-widget-955330 {
    width: 90vw;
  }

  #about {
    margin: 3.2rem 0;
  }

  #contagem-bg,
  #about-bg {
    width: 90vw;
    opacity: .4;
  }

  #live {
    margin-top: 0;
    height: fit-content;
  }

  #welcome-img,
  #about-img {
    display: none;
  }

  button {
    margin-top: 1rem;
    width: 100%;
    padding: 1rem;
  }

  #about-texto {
    width: 90vw;
  }
  
  #guestlist {
    flex-direction: column;
  }
  
  .guest {
    width: 100%;
    margin-bottom: 100px;
  }
  
  #schedule {
    flex-direction: column;
  }

  iframe {
    width: 100vw;
    margin: 2.4rem auto;
  }

  #video {
    margin-right: 0;
  }

  #navi {
    display: none;
  }

  footer {
    justify-content: center;
  }

  footer img {
    display: none;
  }
}
